<!-- patientRecord.html -->
<!-- for doctor to see patient details -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" th:href="@{/assets/images/logo/logo.png}" />
    <title>Patient Record</title>
    <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}">
    <link rel="stylesheet" th:href="@{/assets/css/doctorDashboard.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/util.js}" defer></script>
    <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>
    <script type="module" th:src="@{/js/components/patientRecordRow.js}" defer></script>
    <script type="module" th:src="@{/js/patientRecordServices.js}" defer></script>
</head>
<body onload="renderContent()">
    <div class="container">
        <div class="wrapper">
            <div id="header"></div>
            <div class="main-content">
                <h2>Patient <span>Record</span></h2>
                <table id="patientTable">
                  <thead class="table-header">
                    <tr>
                      <th>Date</th>
                      <th>Appointment ID</th>
                      <th>Patient ID</th>
                      <th>Prescription</th>
                    </tr>
                  </thead>
                  <tbody id="patientTableBody"></tbody>
                </table>
              </div>
            <div id="footer"></div>
        </div>
    </div>

</body>  
</html>
